
<!-- header section starts -->
<header class="header">
    <section class="flex">
        <a href="home.html" class="logo">Punjab Schools System</a>
        <form action="" method="post" class="search-form">
            <input type="text" name="search-box" placeholder="search courses..." required maxlength="100">
            <button type="submit" class="fas fa-search" name="search-box"></button>
        </form>
        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <div id="menu-btn" class="fas fa-bars"></div>
            <div id="user-btn" class="fas fa-user"></div>
            <div id="toggle-btn" class="fas fa-sun"></div>
        </div>
        <div class="profile">
            <img src="../img/banner/b1.jpg" alt="">
            <h3>Taha Hussain</h3>
            <span>student</span>
            <a href="profile.html" class="menu-btn">View Profile</a>
            <div class="flex-btn">
                <a href="login.html" class="option-btn">Login</a>
                <a href="./" class="option-btn">Register</a>
            </div>
        </div>
    </section>


</header>

<!-- header section ends -->