<div class="side-bar">
    <div class="close-side-bar">
        <i class="fas fa-times"></i>
    </div>
    <div class="profile">
        <img src="../img/banner/b1.jpg" alt="">
        <h3>Taha Hussain</h3>
        <span>student</span>
        <a href="profile" class="menu-btn">View Profile</a>
    </div>
    <nav class="navbar">
        <a href="./home"><i class="fas fa-home"><span>Home</span></i></a>
        <a href="./about"><i class="fas fa-question"><span>about us</span></i></a>
        <a href="./courses"><i class="fas fa-graduation-cap"><span>courses</span></i></a>
        <a href="./teachers"><i class="fas fa-chalkboard-user"><span>teachers</span></i></a>
        <a href="./contact"><i class="fas fa-headset"><span>contact us</span></i></a>
    </nav>
</div>