<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="Tooplate">

        <title>Punjab Schools Website</title>

        <!-- CSS FILES -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

        <link href="./css/bootstrap.min.css" rel="stylesheet">

        <link href="./css/bootstrap-icons.css" rel="stylesheet">

        <link href="./css/style.css" rel="stylesheet">

    </head>
<body>

        <!-- header section starts -->

        <%- include("../partial/navbar") %>
    
        <!-- header section ends -->

    <div class="main">

        <!-- login section starts -->

        <section class="form-container">
            <div class="flex">
                <h3>Login to enter</h3>
                <a href="./register" class="inline-option-btn">Register</a>
            </div>
            <form action="/login" method="post">
                <p>your email <span>*</span></p>
                <input type="email" id="Email" name="Email" placeholder="enter your email" required maxlength="100" class="box">
                <p>your password <span>*</span></p>
                <input type="password" id="Password" name="Password" placeholder="enter your password" required maxlength="50" class="box">
                <a href="./">forget password</a>
                <input type="submit" name="submit" value="login" class="btn">

            </form>
        </section>

        <!-- login section ends -->

    </div>  
            <!-- footer section starts -->
    
            <%- include("../partial/footer") %>
    
            <!-- footer section ends -->
    
    <!-- custom js file link -->
    <!-- JAVASCRIPT FILES -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>