<!-- src/views/videos.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Upload</title>
</head>
<body>
    <h1>Upload a Video</h1>
    <form id="videoUploadForm" action="/upload/<%= userId %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="title" placeholder="Title" required>
        <input type="text" name="uploaderName" placeholder="Uploader Name" required>
        <input type="file" name="uploaderAvatar" accept="image/*" required>
        <input type="file" name="thumbnail" accept="image/*" required>
        <input type="file" name="video" accept="video/*" required>
        <button type="submit">Upload Video</button>
    </form>
    

</body>
</html>
